form {
    margin-bottom: 20px;
    margin-left: 30px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .books-Container {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }

  .books-Container{
    background-color: rgb(225, 228, 230);
    height: 100%;
  }

  .books-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    flex: 0 0 300px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5b4caf;
    color: #fff;
    border: none;
    cursor: pointer;
  }