@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 2px;
    padding: 2px;
    justify-content: left;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.main-footer {
    margin-top: 10px;
    background-color: gray;
    color: antiquewhite;
}